* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Section Header  */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Section header top  */
.header-top {
  height: 100px;
}

.header-top .hd-top {
  height: 100px;
  float: left;
  width: 50%;
  line-height: 100px;
}
#sx {
  padding-left: 20px;
}
#dx {
  text-align: right;
  padding-right: 20px;
}

.hd-top img {
  display: inline-block;
  vertical-align: middle;
}
.hd-top ul {
  display: inline-block;
}
.hd-top li {
  display: inline-block;
  line-height: 100px;
}
.hd-top a {
  cursor: pointer;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  vertical-align: middle;
  position: relative;
}
a #banner {
  height: 3px;
  width: 100%;
  background-color: black;
  opacity: 0;
}

#dx li:last-child a {
  display: inline;
  padding: 10px 20px;
  background-color: rgb(36, 97, 249);
  color: white;
}
#dx li:last-child a:hover {
  filter: opacity(0.7);
}

a:hover #banner {
  opacity: 1;
}

/* Section Header bottom  */

.header-bottom {
  background-color: rgb(185, 207, 229);
}

.main-title {
  padding: 100px 0 30px 0;
}
.main-title h1 {
  font-size: 60px;
  font-weight: 900;
}

.free-trial {
  float: left;
  width: 30%;
}
.free-trial p {
  font-weight: bold;
  padding-right: 10px;
  margin-bottom: 20px;
}
.button a {
   text-align: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  width: 60%;
  padding: 10px 20px;
  background-color: rgb(36,97,249);
  color: white;
}
.button a:hover {
   filter: opacity(0.8);
}
.free-trial span {
   margin-top: 10px;
}